body{
  background-color: #ffffff;
}
p{
  color: #000000;
  font-style: italic;
}
h1{
  color: #000000;
}
h2{
  color: #000000;
  font-stlye: italic;
}
li{
  color: #000000;
}
ol{
 font-weight: bold;
}
ul{
 font-style: italic;
}
